[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "http://env-2707298.user.cloudjkt02.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/static/*"
  to = "http://env-2707298.user.cloudjkt02.com/static/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200